.column-1 {
    float: left;
    width: 50%;
}

    .api-version {

    }

        .api-version-curl {
            display: block;
        }

            .request-form {

            }

                .request-types {

                }  

                .url-field {
                    width: 73%;
                }

                .send-button {

                }

            .header {

            }

        .api-version-node {
            display: none;
        }

    .request-body {

    }

        .request-body-title {
            display: inline-block;
            float: left;
        }

        .request-body-input-style {

        }

            .raw {

            }

            .form-data {

            }

        .request-body-text {
            width: 98%;
            display: block;
        }

        .request-body-form {
            display: none;
        }

    .response {

    }

        .response-text {
            width: 98%;
        }

.column-2 {
    float: left;
    width: 50%;
}